@using FinancialPortal.ViewModels;
@model InviteVM
@{
    ViewBag.Title = "Send House Invite";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary();
    @Html.HiddenFor(m => m.HouseholdId)
    @Html.TextBoxFor(m => m.RecieverEmail)
    @Html.TextBoxFor(m => m.InviteBody)
    <button type="submit">Send Invite</button>
}

